version: '3.8'

services:
  elasticsearch:
    image: elasticsearch:7.17.9
    container_name: elasticsearch
    environment:
      - discovery.type=single-node
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
      - cluster.name=my-random-cluster-xyz789
    ports:
      - "9200:9200"
    networks:
      - elk

  kibana:
    image: kibana:7.17.9
    container_name: kibana
    ports:
      - "5601:5601"
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    depends_on:
      - elasticsearch
    networks:
      - elk

  nginx:
    image: nginx:alpine
    container_name: nginx-logs
    ports:
      - "8080:80"
    volumes:
      - ./nginx-logs:/var/log/nginx
      - ./config/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - elk

  logstash:
    image: logstash:7.17.9
    container_name: logstash
    depends_on:
      - elasticsearch
    volumes:
      - ./config/logstash.conf:/usr/share/logstash/pipeline/logstash.conf:ro
      - ./nginx-logs:/var/log/nginx:ro
    ports:
      - "5044:5044"
    networks:
      - elk

  filebeat: 
    image: elastic/filebeat:7.17.9
    container_name: filebeat
    user: root
    volumes:
      - ./nginx-logs:/var/log/nginx:ro
      - ./config/filebeat.yml:/usr/share/filebeat/filebeat.yml:ro
    depends_on:
      - elasticsearch
    networks:
      - elk

networks:
  elk:


